.detailImg {
    width: 50vw;
    border-radius: 2%;
}
.detailContainer {
    margin-top: 5vh;
    margin-left: 8vw;
    margin-right: 8vw;
    background-color: var(--text-secondary);
    border-radius: 8%;
    box-shadow: 0 -.5rem 2rem 0 var(--text-secondary);
}
