:root {
    --text-primary: #C7C7BF;
    --text-secondary: #898882;
    --bg-primary: #33302C;
    --bg-secondary: #383530;
    --transition-speed: 600ms;

}


.homeBody {
    background-image: url("../../images/mainBackgroundHalfSolid.jpg");
    margin-left: 5em;
    
}


.navbar {
    margin-left: 0;
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-secondary);
    transition: width 200ms ease;
}


.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.nav-item {
    width: 100%;
}


.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-secondary);
    text-decoration: none;
    
}


.link-text {
    display: none;
    margin-left: 1rem;
    justify-content: left;
}


.nav-link svg {
    min-width: 2rem;
    max-width: 5vh;
    margin: 0 1.5rem;
    fill: var(--text-secondary);
    color: var(--text-secondary);
    transition: var(--transition-speed);
}


.navbar:hover {
    width: 16rem;
}


.navbar:hover .link-text {
    display: block;
}



.link-text:hover {
    color: var(--text-primary)
}



.card-list {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    margin-left: 15vw;
    padding: 3rem;
}

.page-list {
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}





a:link {
    text-decoration: none;

    
}

a:visited {
    text-decoration: none;
    
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
    
}
