:root {
    --text-primary: #C7C7BF;
    --text-secondary: #898882;
    --bg-primary: #33302C;
    --bg-secondary: #383530;
    --transition-speed: 600ms;

}


Body {
    background-image: url("../../images/mainBackgroundHalfSolid.jpg");
}

.homeBody {
    margin-left: 5rem;
}

/*  puedo aplicar este margen a cada componente y eliminar este div */


.navbar {
    margin-left: 0;
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-secondary);
    transition: width 200ms ease;
   
}


.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.nav-item {
    width: 100%;
}


.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-secondary);
    text-decoration: none;
    cursor: default;
    
}


.link-text {
    display: none;
    margin-left: 1rem;
    justify-content: left;
    cursor: pointer;
    text-decoration: solid;
}


.nav-link svg {
    min-width: 2rem;
    max-width: 5vh;
    margin: 0 1.5rem;
    fill: var(--text-secondary);
    color: var(--text-secondary);
    transition: var(--transition-speed);
}


.navbar:hover {
    width: 16rem;
}


.navbar:hover .link-text {
    display: block;
}



.link-text:hover  {
    color: var(--text-primary);

}



.card-list {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    margin-left: 15vw;
    padding: 3rem;
}

.page-list {
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}





a:link {
    text-decoration: none;

    
}

a:visited {
    text-decoration: none;
    
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
    
}




.select-button {
    width: 300px;
    padding: 12px;
    border: 0;
    background-color: var(--text-primary);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
      background-size: .6em;
      background-position: calc(100% - 1.3em) center;
      background-repeat: no-repeat;
      box-shadow: 1rem 1rem 1rem 0 var(--text-secondary);
      border-radius: 0 0 8px 8px;
    cursor: pointer;
  }

.select-button:hover {

    background-color: var(--text-secondary);
}
  .select-button::-ms-expand {
      display: none;
  }